.content{
  background-color: var(--color-branco);
}
.main{
  height: 100vh;
}

header{
  background-color: var(--color-azulEscuro);
}

header .icons{
  color: var(--color-branco);
  margin-bottom: 10px;
  padding: 15px;
  display: flex;
  justify-content: center;
}

header i{
  margin: 0 10px;
  font-size: 1.5em;
}

.fa-laugh-beam{
  transition: color 0.3s;
}

.fa-laugh-beam:hover{
  color: var(--color-amarelo);
}