.content{
  background-color: #f4f6ff;
}
/* https://coolors.co/f4f6ff-f3c623-1bb4c5-1694a2-10375c */
.main{
  height: 100vh;
}

header{
  background-color: #10375C;
}

header .icons{
  color: #f4f6ff;
  margin-bottom: 10px;
  padding: 20px;
}

header i{
  margin: 0 10px;
  font-size: 1.3em;
}

.fa-laugh-beam:hover{
  color: #F3C623;
}