.content{
  background-color: var(--color-branco);
}
/* https://coolors.co/f4f6ff-f3c623-1bb4c5-1694a2-10375c */
.main{
  height: 100vh;
}

header{
  background-color: var(--color-azulEscuro);
}

header .icons{
  color: var(--color-branco);
  margin-bottom: 10px;
  padding: 15px;
}

header i{
  margin: 0 10px;
  font-size: 1.3em;
}

.fa-laugh-beam{
  transition: color 0.3s;
}

.fa-laugh-beam:hover{
  color: var(--color-amarelo);
}