.content-esquerda{
  grid-area: esquerdo;
  background-color: #FFF;
  background-size: contain;
  border: 5px solid #849693;
}

.titulo{
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000;
}

.content-direita{
  grid-area: direito;
  background-color: #FFF;
  background-size: contain;
  border: 15px solid #849693;
}

.instrucoes{
  margin-top: 70px;
  font-family: PT Sans, sans-serif;
  color: #000;
}

.instrucoes h1{
  text-align: center;
}

.instrucoes ul{
  margin: 10px;
  list-style: none;
  font-size: 1.3em;
}

.instrucoes li{
  padding-bottom: 10px;
}