.content-esquerda{
  grid-area: esquerdo;
  background-color: #FFF;
  background-size: contain;
  border: 5px solid #849693;
}

.texto{
  margin: 10px 0 0 10px;
  font-family: PT Sans, sans-serif;
  color: #000;
  font-size: 1.2em;
}

.texto p{
  padding-top: 5px;
}

.content-direita{
  grid-area: direito;
  background-color: #FFF;
  background-size: contain;
  border: 5px solid #849693;
}

.imgCache1{
  width: fit-content;
}