@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Kalam:wght@300;400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  --color-azulEscuro: #10375C;
  --color-branco: #f4f6ff;
  --color-amarelo: #F3C623;
}

body {
  font: 400 14px PT Sans, sans-serif;
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased; /* Suavização da fonte no chrome */
}

li{
  list-style: none;
}