.main-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sumario{
  margin-bottom: 20px;
  border-bottom: solid 5px var(--color-amarelo);
}

.botoes{
  width: 300px;
  margin: 15px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.btn{
  background-color: var(--color-branco);
  margin: 0px 5px;
  padding: 7px;
  border: none;
  border-bottom: solid 0.5px var(--color-cinza);
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  transition: filter 0.3s;
}

.Next, .Previous{
  background-color: var(--color-amarelo);
}

.btn:hover{
  filter: brightness(90%);
  cursor: pointer;
}

.btn:disabled{
  color: #000;
  background-color: var(--color-cinza);
  cursor: initial;
  opacity: 1;
}


.book-content{
  margin-right: 10px;
}

.App-pages {
  height: 500px;
  width: 950px;
  perspective: 5000px;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.App-page {
  display: grid;
  grid-template: "esquerdo direito"
                / 1fr 1fr;
  color: #ffffff;
  height: 100%;
}

.btnDown{
  margin: 10px 0px;
  display: flex;
  justify-content: space-around;
}

img{
  width: 400px;
  max-height: 450px;
}